h1 {
    background-color: black;
    color:yellow;
    padding: 10px;
    text-align: center;
    
    
}
p {
    border-width: 10px;
    border-color: black;
    border-style: solid;
    background-color: gray;
    margin: 30px;
    padding: 30px;
}