.one {
    background-color: black;
    color: white;
    display: inline-block;
    margin-left: 10px;
}
.two {
    background-color: black;
    color: white;
    display: inline-block;
    margin-right: 100px;
    margin-left: 100px;
}
.three {
    background-color: black;
    color: white;
    display: inline-block;
}