/* .one {
    background-color: black;
    color: white;
    display: inline-block;
    padding: 10px;
}

.two {
    background-color: black;
    color: white;
    display: inline;
    padding: 10px;
    margin-left: 800px;
}

.three {
    background-color: black;
    color: white;
    display: inline;
    padding: 10px;
    margin-left: 1000px;
}

.four {
    background-color: black;
    color: white;
    display: inline;
    padding: 10px;
    margin-left: 1100px;

} */
nav {
    background-color: black;
    color: white;
    padding: 10px;
}

li,
h3,
ul {
    display: inline;
}

ul {
    margin-left: 70%;
}

.one {
    margin-right: 50px;
}
.two {
    margin-right: 50px;
}