p {
    font-size: 20px;
    text-align: center;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

a:link {
    color: red;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: powderblue;
}

a:visited {
    color: blue;
    font-family: 'Courier New', Courier, monospace;
}

a:hover {
    color: orange;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: green;
    text-decoration: double;
}

a:active {
    color: black
}

.button {
    background-color: grey;
    color: white;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block
}